* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100vw;
	overflow-x: hidden;
}
.container {
	max-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: #000000;
	background: -webkit-linear-gradient(to right, #434343, #000000);
	background: linear-gradient(to right, #434343, #000000);

	font-family: 'Poppins', cursive;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

a {
	display: inline-block;
	text-decoration: none;
	color: $light-color;
}

input {
	border: none;
	outline: none;
}

footer {
	font-weight: lighter;
	color: $light-color;
	padding: 0.5rem;
	margin-top: 2rem;
	.special {
		font-weight: 400;
	}
}

.loader {
	svg {
		width: 20%;
		height: 20%;
		margin: 2rem auto;
		display: inline-block;
	}
}

.error-container {
	width: 50%;
	height: 20vh;
	margin: auto;
	padding: 4rem 2rem;
	background-color: $second-dark-color;
	color: $light-color;
	border-radius: 1rem;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	img {
		width: 100%;
		height: 200px;
	}
}
