* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.container {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #161616;
  font-family: "Poppins", cursive;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #d1ccc0;
}

input {
  border: none;
  outline: none;
}

footer {
  font-weight: lighter;
  color: #d1ccc0;
  padding: 0.5rem;
}
footer .special {
  font-weight: 400;
}

.loader {
  margin: auto;
  display: inline-block;
}

.error {
  width: 50%;
  margin: auto;
  padding: 4rem 2rem;
  background-color: #474787;
  color: #d1ccc0;
  border-radius: 1rem;
  font-size: 1.5rem;
}

header {
  width: 100vw;
  font-family: "Poppins", cursive;
}
header .header {
  display: flex;
  width: 100%;
  padding: 1% 5%;
}
header .header-top {
  justify-content: space-between;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo h1 {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 2rem;
  margin-left: 0.5rem;
  color: white;
}
header .logo h1 .special-letter {
  color: #ff1c1c;
  display: inline-block;
  font-size: 2.2rem;
  transform: rotate(15deg);
}
header .logo .img-logo {
  width: 5rem;
  height: 5rem;
}
header .logo .img-logo img {
  width: 100%;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .button {
  box-sizing: content-box;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right bottom, #161616, #ff1c1c);
  border-image-slice: 1;
  margin: 0 0.5rem;
  padding: 0.25rem 0.5rem;
}
header nav .button:hover,
header nav .button:focus,
header nav .button.active {
  background: linear-gradient(to right, #ff1c1c, #161616) border-box;
  border: 3px solid transparent;
  color: #fff;
  transition: all 0.5s ease;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
header .header-bottom {
  justify-content: center;
  background-color: #2c2c54;
  padding: 2rem;
}
header .header-bottom .search-bar {
  background-color: #d1ccc0;
  padding: 0.2rem;
  box-shadow: -4px 10px 19px 1px rgba(0, 0, 0, 0.75);
}
header .header-bottom .search-bar a {
  color: #161616;
  border-left: 1px solid #666;
}
header .header-bottom .search-bar a i {
  pointer-events: none;
}
header .header-bottom .search-bar input,
header .header-bottom .search-bar a {
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  outline: none;
  font-size: 1.2rem;
}
header .header-bottom .search-bar:hover {
  opacity: 0.9;
}
header .navigation {
  justify-content: space-between;
}
header .navigation .tabs {
  width: fit-content;
}
header .navigation .tabs .tab {
  padding: 0.5rem 1rem;
  background-color: #d1ccc0;
  color: #161616;
  font-weight: 600;
  margin: 0 0.2rem;
}
header .navigation .tabs .tab:hover,
header .navigation .tabs .tab:focus,
header .navigation .tabs .tab.active {
  background-color: #161616;
  border: 2px solid #d1ccc0;
  color: #d1ccc0;
}
header .navigation .links {
  margin: auto;
  transform: translateX(100%);
}
header .navigation .links .link {
  padding: 0.5rem 1rem;
  background-color: #d1ccc0;
  color: #161616;
  font-weight: 600;
  margin: 0 0.2rem;
}
header .navigation .links .link i {
  font-size: 1.2rem;
}
header .navigation .links .link:hover {
  opacity: 0.9;
}

.grid-fluid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  text-align: center;
}

main {
  width: 80%;
}
main .card {
  position: relative;
  width: 300px;
  height: 400px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}
main .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}
main .card .content .img-container {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
}
main .card .content .img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .card .content .info h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}
main .card .content .info h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}
main .card .content .card-title {
  margin-top: 0;
}
main .card .content .card-title h3 {
  font-size: 1.5rem;
}
main .card .content .card-title span {
  cursor: pointer;
}
main .card .content .card-title span i {
  font-size: 1.2rem;
  color: #f9ca24;
  pointer-events: none;
}
main .card .sci {
  position: absolute;
  bottom: 50px;
  display: flex;
}
main .card .sci a {
  background-color: #ff1c1c;
  margin: 0 10px;
  padding: 0.25rem 0.7rem;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
}
main .card:hover .sci a {
  transform: translateY(0px);
  opacity: 1;
}
main .card:hover .content {
  transform: translateY(-20px);
}

/*# sourceMappingURL=style.css.map */
